<a href="https://colab.research.google.com/github/NijjohUnno/SalesAnalysis/blob/main/Sales_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **First we import the python Libraries and the dataset**

In [ ]:
import pandas as pd
import seaborn as sns
import numpy as np

January = pd.read_csv('/content/drive/MyDrive/Sales_Data/Sales_January_2019.csv')
February = pd.read_csv('/content/drive/MyDrive/Sales_Data/Sales_February_2019.csv')
March = pd.read_csv('/content/drive/MyDrive/Sales_Data/Sales_March_2019.csv')
April = pd.read_csv('/content/drive/MyDrive/Sales_Data/Sales_April_2019.csv')
May = pd.read_csv('/content/drive/MyDrive/Sales_Data/Sales_March_2019.csv')
June = pd.read_csv('/content/drive/MyDrive/Sales_Data/Sales_June_2019.csv')
July = pd.read_csv('/content/drive/MyDrive/Sales_Data/Sales_July_2019.csv')
August = pd.read_csv('/content/drive/MyDrive/Sales_Data/Sales_August_2019.csv')
September = pd.read_csv('/content/drive/MyDrive/Sales_Data/Sales_September_2019.csv')
October = pd.read_csv('/content/drive/MyDrive/Sales_Data/Sales_October_2019.csv')
November = pd.read_csv('/content/drive/MyDrive/Sales_Data/Sales_November_2019.csv')
December = pd.read_csv('/content/drive/MyDrive/Sales_Data/Sales_December_2019.csv')

In [ ]:
January.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,141234,iPhone,1,700,01/22/19 21:25,"944 Walnut St, Boston, MA 02215"
1,141235,Lightning Charging Cable,1,14.95,01/28/19 14:15,"185 Maple St, Portland, OR 97035"
2,141236,Wired Headphones,2,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016"
3,141237,27in FHD Monitor,1,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001"
4,141238,Wired Headphones,1,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301"

**Merging the 12 months sales Data into a single file.**

In [ ]:
sales_year = pd.concat([January, February, March,April, May, June, July, August, September, October, November, December])

**Read updated DataFrame.**

In [ ]:
sales_year.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,141234,iPhone,1,700,01/22/19 21:25,"944 Walnut St, Boston, MA 02215"
1,141235,Lightning Charging Cable,1,14.95,01/28/19 14:15,"185 Maple St, Portland, OR 97035"
2,141236,Wired Headphones,2,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016"
3,141237,27in FHD Monitor,1,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001"
4,141238,Wired Headphones,1,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301"

**Add Month column**

ValueError: ignored